* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: #8fb75f;
}

nav {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: #60a40d;
    padding-top: 30px;
    padding-bottom: 30px;
}

.block {
    color: rgb(74, 74, 196);
}

.b {
    font-size: 50px;
}

.b-world {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 150px;
    padding-right: 50px;
    font-weight: 800;
}

.nav-link-btn {
    display: flex;
    align-items: center;
    margin-right: 150px;
}

nav ul li {
    list-style: none;
    font-size: 20px;
    margin-left: 20px;
}

nav ul {
    display: flex;
}

.btn-register {
    background-color: rgb(74, 74, 196);
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
}

/* main part */

/* hero part */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    margin: 0px 100px 0px 100px;
}

.hero-text-btn {
    text-align: left;
}

.hero img {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

.hero-header {
    font-size: 50px;
}

.b-world-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.hero-para {
    padding-top: 10px;
}

.learn-more {
    background-color: rgb(74, 74, 196);
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

/* our clients part */

.our-clients {
    text-align: center;
    margin-top: 200px;
}

.our-clients p {
    padding: 20px 0px 30px 0px;
}

.client-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

/* explore part */

.explore {
    text-align: center;
    margin-top: 200px;
}

.explore-para {
    padding: 20px 0px 20px 0px;
}

.explore-sectors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.explore-sectors h2 {
    padding: 20px 0px 20px 0px;
}


/* helping blockchain part */

.help-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 200px;
}

.help-box-parent {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}

.help-ex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
}

.help-head p {
    padding-top: 10px;
}


/* blockchain foundation part */

.foundation {
    text-align: center;
    margin-top: 200px;
}

.foundation p {
    padding: 20px 0px 30px 0px;
}

.foundation-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.foundation-bg-1 {
    border-radius: 20px;
    width: 250px;
    height: 180px;
    background-image: url('photos/foundation-img-1.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foundation-bg-2 {
    border-radius: 20px;
    width: 250px;
    height: 180px;
    background-image: url('photos/foundation-img-2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foundation-bg-3 {
    border-radius: 20px;
    width: 250px;
    height: 180px;
    background-image: url('photos/foundation-img-3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foundation-card {
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 100px;
    background-color: rgb(74, 74, 196);
    /* background-color: rgb(138, 53, 138); */
    position: relative;
    margin-top: 150px;
}

.foundation-card:hover {
    background-color: rgb(151, 76, 222);
}

.foundation-card p {
    padding-bottom: 10px;
}

.foundation-card a {
    color: rgba(232, 112, 232, 0.868);
    text-decoration: none;
}


/* contact us part */

.contact-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.contact-container img {
    width: 300px;
    height: 200px;
    border-radius: 100px;
}

form {
    text-align: center;
}

form h2 {
    padding-bottom: 10px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-fields input {
    width: 300px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 50px;
}

.input-fields textarea {
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.btn-message {
    background-color: rgb(74, 74, 196);
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 180px;
}


/* footer part */

footer {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 150px 30px 150px 30px;
}

.footer-b-world {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}

.footer-icons {
    padding-top: 20px;
}

.com-sup {
    padding-bottom: 20px;
}

.com-sup-lists li {
    padding-bottom: 10px;
}

.footer-email {
    width: 300px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 50px;
}


@media screen and (max-width: 500px){

    /* nav part */

    .b-world{
        margin-left: 10px;
    }

    /* hero part */

    .hero {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }

    .hero-text-btn{
        text-align: center;
    }

    /* our clients part */

    .client-logos{
        display: grid;
        grid-template-columns: repeat(2, 10px);
    }

    /* explore part */

    .explore-sectors{
        display: block;
        gap: 20px;
    }

    /* helping blockchain part */

    .help-block{
        display: block;
        text-align: center;
    }

    .help-head{
        padding-bottom: 20px;
    }

    .help-box-parent{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* blockchain foundation part */

    .foundation{
        text-align: center;
        padding-bottom: 20px;
    }

    .foundation-card-container{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    /* contact us part */

    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .input-fields{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .input-fields input{
        width: 150px;
    }

    /* footer part */

    footer{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .footer-logo-icons{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .com-sup{
        text-align: center;
    }

    .com-sup-lists li{
        text-align: center;
    }

    .up-to-date{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-email{
        width: 200px;
    }

}